@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text-primary font-sans antialiased;
}

/* Custom scrollbar for a better look */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1A2035;
}
::-webkit-scrollbar-thumb {
  background: #3B82F6;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #60A5FA;
}